.row{
  margin: 15px 5%;
}
.card{
  margin: 5px;
  min-height: 150px;
  min-width: 150px;
  max-width: 400px;
}
.md-48{
  font-size: 30px;
  color: white;
}
.my-5{
  margin-top: 0%;
}
.container-card{
  background-color: #F5F5F5;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.col-lg-4{
  text-align: center;
}

.card,
.card:hover {
color: #4a4e52;
text-decoration: none;
}
.active-card{
  width:70px;
  text-align: center;
  background-color: #2ecc71;
  color: #ecf0f1;
  border-radius: 10px;
}
mb-2{
  color: #e67e22;
}
.icon-card{
  font-size: 100px;
  background-color: #e67e22;
  padding: 25px;
  color: white;
  border-radius: 50%;
}